.master {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

mat-list-item {
  display: flex;
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;
  transition: all 200ms ease;
  position: relative;
  letter-spacing: -.04em;
  line-height: 1.5;
  z-index: 9999;
  width: 100%;
  min-width: 300px;
  background: gray;
}

mat-list-item:nth-child(odd) {
  background: darkgray;
}

.itemName {
  width: 100%;
  flex: initial;
}

.addItem {
  display:flex;
  justify-content: center;
}
