<div class="master">
  <mat-list *ngIf="items">
    <mat-list-item *ngFor="let item of items">
      <label class="itemName">{{item.name}}</label>
      <button mat-icon-button color="primary" (click)="removeItem(item)"><mat-icon>remove</mat-icon></button>
    </mat-list-item>
  </mat-list>

  <form class="addItem">
    <input #newItem type="text" placeholder="Add new item">
    <button mat-icon-button (click)="addItem(newItem.value)" ><mat-icon>add</mat-icon></button>
  </form>
</div>
