.spacer {
  flex: 1;
}

.title {
  padding-left: 10px;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}



.card.selected {
  background-color: purple;
}

.tabs .card:not(.selected):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
