<div class="toolbar" role="banner">
  <span class="title" >Pantry App</span>
  <div class="spacer"></div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link [active]="router.url === '/stock'" routerLink='/stock'>Stock</a>
    <a mat-tab-link [active]="router.url === '/shopping'" routerLink="/shopping">Shopping List</a>
    <a mat-tab-link [active]="router.url === '/items'" routerLink="/items">Items</a>
  </nav>
  <div class="spacer"></div>
</div>
