<div class="master">
  <mat-list *ngIf="stockList">
    <mat-list-item *ngFor="let stock of stockList">
      <label class="stockEntryName" *ngIf="getItem(stock.id)">{{getItem(stock.id).name}}</label>
      x{{stock.count}}
      <button mat-icon-button color="primary" (click)="modifyStock(stock, 1)"><mat-icon>add</mat-icon></button>
      <button mat-icon-button color="primary" (click)="modifyStock(stock, -1)"><mat-icon>remove</mat-icon></button>
    </mat-list-item>
  </mat-list>

  <form class="addItem">
    <input type="text"
           placeholder="Add Item to stock"
           [formControl]="autoCompleteControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAutoComplete">
      <mat-option *ngFor="let item of filteredItems | async" [value]="item">
        {{item.name}}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="isItem(this.autoCompleteControl.value)" mat-icon-button (click)="
      addStock(this.autoCompleteControl.value);
      this.autoCompleteControl.setValue('');
    "><mat-icon>add</mat-icon></button>
  </form>
</div>
